#root {
    max-width: 1400px;
    min-width: 320px;
    margin: 1.3rem auto;
    padding: 0;
    box-sizing: border-box;
}

* {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

@media (max-width: 1440px) {
    #root {
        max-width: 1200px;
        margin: 1.3rem auto;
    }
}
